FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=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
